FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=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
